FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY=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
